FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=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
